.new-cock-form {
  text-align: center;
  width: 100%;

  background: linear-gradient(320.31deg, #097F8C 40.21%, rgba(196, 196, 196, 0) 89.23%, rgba(196, 196, 196, 0) 91.33%);
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}


.form-div {
  width: 40%;
  background-color: #F8F9FA;
  margin: 124px auto;
  padding: 24px;
  padding-top: 0;
}

.form-div>* {
  padding: 8px;
}
