<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'banner.jpg' %>');">
  <div class="container">
    <h1>Le Tutor</h1>
    <p>Lets hire a tutor!</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
