<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cloudinary_url("neonbrand-y_6rqStQBYQ-unsplash_evg0n6") %>');">
  <div class="container">
    <h1>Le Tutor</h1>
    <p>Let's hire a tutor!</p>
    <%= link_to 'Find a tutor', users_path, class: 'btn btn-flat'  %>
  </div>
</div>
