.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  position: sticky;
  top: 0;
  background: linear-gradient(257.86deg, #4A4A4A 9.83%, rgba(196, 196, 196, 0) 100%);
}

#logo {
  color: #087F8C;
  font-size: 24px;
}

#logo-text {
  color: #087F8C;
  font-weight: bold;
  opacity: 0.8;
}
