.hr-separator {
  // color: rgba(20, 20, 20, 0.1);
  background-color: #2297F3;
}

.hr-separator-nav {
  background-color: rgba(20, 20, 20, 0.1)
}



.card-container {
  width: 100%;
  background: white;
  display: flex;
  justify-content: flex-start;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: left;
}


.skills {
  border-bottom: 1px solid $orange;
  margin-left: 100px;
  height: 100%;
  width: 20%;
}

.get-in-touch {
  margin-left: 100px;
  border-bottom: 1px solid $green;
  height: 100%;
  width: 20%;
}

.become-tutor {
  margin-left: 120px;
  border-bottom: 1px solid $gray;
  height: 100%;
}

#edit-profile {
  padding-left: 70%;
}

// .visible {
//   display: flex;
// }

.invisible {
  display:none;
}
