.card-container {
  width: 100%;
  background: white;
  display: flex;
  justify-content: flex-start;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: left;
}


.skills {
  border-bottom: 1px solid $orange;
  margin-left: 100px;
  height: 100%;
  width: 30%;
}

.get-in-touch {
  margin-left: 100px;
  border-bottom: 1px solid $green;
  height: 100%;
  width: 30%;
}

.become-tutor {
  height: 100%;
  width: 240px;
  padding-left: 32px;
}

#button-cons {
  margin-left: 0px;
  padding-left: 0;
}

#edit-profile {
  padding-left: 70%;
}


.invisible {
  display: none;
}

#profile-bookings {
  display: none;
}

#visible {
  display: block;
  padding-left: 32px;
  margin-bottom: 36px;
}

.profile-divs {
  font-size: 28px;
}

.about-me {
  margin: 0 auto;
}

#fab-icons {
  font-size: 16px;
}

.get-in-touch-no-bar {
  margin-left: 100px;
  height: 100%;
  width: 25%;
}

