.user-container {
  // background-image: asset-url("Background2.jpeg");
  background-color: rgba(230,230,230,0.6);
  background-size: cover;
  margin-bottom: 56px;
  h1 {
    color: #61686B;
    padding: 32px;
    font-size: 56px;
    text-shadow: 2px 2px lightgray;
    text-align: center;;  }
}

.card-user {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  padding: 0px;
  margin: 16px;
  text-decoration: none !important;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.card-user:hover {
  box-shadow:  4px 4px 2px black; 
  color: #61686B;
  
}

.card-user > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-user p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-user-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-user-infos .card-user-avatar {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-gap: 120px;
  padding: 24px;
  margin-top: 60px;
  padding-left: 0px;
}
a {
  text-decoration: none !important;
  color: black;
  width: 350px;
}
