.user-container {
  background-image: asset-url("users_background.jpeg");
  background-size: cover;
  opacity: 0.8;
  h1 {
    color: white;
    padding: 32px;
    font-size: 56px;
    text-shadow: 4px 2px black;
  }
}

.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  // margin: 4px !important;
  padding: 0px;
  text-decoration: none !important;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.card-trip:hover {
  box-shadow:  4px 4px 2px black; 
  transition: 200ms;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  padding: 24px;
  margin-top: 60px;
}
a {
  text-decoration: none !important;
  color: black;
}
